*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    margin: 1em auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    font-size: 1.2rem;
    height: 30em;
    
}
.flex{
    
    width: 60%;
    padding: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex label{
    margin-bottom: 0.4rem;
}
.flex input{
    border-radius: 10px;
    border: 2px solid black;
    height: 3em;
    margin-bottom: 1rem;
    width: 100%;
}
.flex input[type="submit"]{
    background-color: black;
    color: white;
    height: fit-content;
    padding: 1em;
}
.profile-data{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    height: fit-content;
    padding: 2em 0;
}
.profile{
    margin: 0 1rem;
    font-size: 1em;
    padding: 1em 0;
}
.profile h2{
    white-space: nowrap;
    font-size: 1.3em;
}
.profile-list{
    list-style: none;
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
    text-align: left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}
.profile-percen{
    border: 4px solid black;
    border-radius: 100px;
    width: 7em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile-percen p{
    font-size: 30px;
}
@media (max-width:425px) {
    .form{
        flex-direction: column;
        height: fit-content;
        margin: 1em;
    }
    .flex{
        width: 100%;
        height: fit-content;
    }
    .profile-data{
        width: 100%;
    }
}